@font-face {
    font-family: 'Inter';
    src: url(./font/Inter-VariableFont_slnt\,wght.ttf) format('ttf');
}
body {
    font-family: 'Inter';
}
.display-align {
    display:flex;
    align-items: center;
}
.display-justy {
    display:flex;
    justify-content: center;
}
.display-column {
    display: flex;
    flex-direction: column;
}
.color-backgr {
    background: #F3F3F3;
}
/* page-one */
.page-one {
    flex-direction: column;
    gap:130px
}
.top-one {
    gap: 380px;
}
.center {
    gap: 30px;
}
.left-one {
    background-color: #1e1e1e;
    color:#ffffff
}
.text {
    color: black;
    text-decoration: none;
}
.button-login {
    border-radius: 30px;
    background-color: black;
    color: #ffffff;
    width: 100px;
    height: 36px;
    border: solid 0;
}
.mid-one {
    gap: 90px;
    padding: 0 210px;
}
.other {
    padding: 109.5px 124px;
}
.other-mid {
    gap: 15px;
    justify-content: unset!important;
}
.size-double {
    font-size: 48px;
}
.size-normal {
    font-size: 30px;
}
.recipe {
    height: 45px;
    width: 165px;
    border-radius: 30px;
    background-color: #FFCF23;
    font-weight: 500;
    border: solid 0;
}
.image {
    width: 531px;
    height: 428px;
    border-radius: 20px;
    padding: 10px
}
.elipse {
    height: 14px;
    width: 14px;
    border: #FFCF23 solid 1px;
    border-radius: 50%;
    background-color: #FFCF23;
}
.box-elipse {
    align-items: center;
    gap: 10px;
}
.bot-one {
    padding: 64px 132px;
    gap: 150px;
}
.other-bot {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.button-menu {
    display:none;
}
.pro {
    gap: 10px;
}
.menu {
    display:flex;
    justify-content: center;
    width:25px;
    height: 25px;
    border-radius: 50%;
    background-color: black;
}
/* end page one */
/* page-two */
.img-heath {
    width: 503.5px;
    height: 428px;
    border-radius: 12px;
}
.mental {
    background: #1e1e1e;
    align-items: center;
    color:#ffffff;
    gap: 216px;
    padding: 96px;
}
.list {
    padding-left: 16px;
    line-height: 24px;
}
.values {
    font-size: 32px;
}
.will {
    font-size: 16px;
}
/* end page-two */
/* page-three */
.img-user {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}
.page-three {
    padding: 96px;
    flex-direction: column
}
.comment {
    border-radius: 10px;
    padding: 24px;
    gap: 20px;
}
.user-text {
    font-size: 18px;
    line-height: 28px;
    margin-top: 0;
}
.user-blod {
    margin-bottom: 0;
}
.never {
    display:flex;
    gap: 130px;
}
.round {
    display:none;
}
.slider {
    width:20px;
    height: 20px;
    border-radius: 50%;
}
.sli-one {
    background-color: #F3F3F3;
}
.sli-two {
    background-color: black;
}
/* end page-three */
/* page-four */
.page-four {
    align-items: center;
    background: linear-gradient(80.53deg,rgba(255, 207, 35, 0.7) 0%, rgba(255, 226, 123, 0.7) 100%), url(./1653446036-488-thumbnail-width740height555.jpg);
    height: 720px;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.yourself {
    text-align: center;
}
.text-work {
    font-size: 40px;
}
.do-it {
    padding: 6px;
    width: 180px;
    height: 40px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    border: solid 0;
}
/* end page-four */
/* page-five */
.page-five {
    gap: 140px;
    padding: 96px 54px;
    background-color: #1e1e1e;
    color: #ffffff;
}

.decor {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}
.type-input {
    width: 330px;
    height: 28px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 40px;
    border: solid 0;
    font-size: 16px;
    padding: 12px 24px;
}
.fixed {
    display :flex;
    gap: 100px;
}
.posi {
    position: relative;
    
}
.text-first {
    font-size: 18px;
    margin-top: 0;
}
.double {
    font-size: 24px;
    margin-top: 0;
}
.emo {
    color :#9f9f9f;
}
.column {
    gap: 140px
}
/* end page-five */
/* tablet 1024px */
@media screen and (min-width: 1024px) and (max-width:1439px) {
    body {
        margin: 0;
    }
    /* page-one */
    .top-one {
        gap: 150px;
    }
    .mid-one {
        flex-direction: column;
        gap:40px;
    }
    .other-mid {
        flex-direction: column;
    }
    .other {
        text-align: center;
    }
    .size-check {
        font-size: 24px;
    }
    .size-double {
        font-size: 50px;
        padding: 0 194px;
        margin: 0;
    }
    .size-normal {
        font-size: 24px;
        padding: 0 108px;
    }
    .recipe {
        font-size: 16px;
        font-weight: 300;
    }
    .size-small {
        font-size: 16px;
    }
    .image {
        width: 960px;
        height: 428px;
    }
    .page-one {
        gap: 15px;
    }
    .bot-one {
        padding: 32px;
        gap: 100px;
    }
    /* end page-one */
    /* page-two */
    .mental {
        flex-direction: column;
        padding: 32px 22px 64px;
        gap: 50px;
    }
    .img-heath {
        width: 960px;
        height: 550px;
    }
    .program {
        display:flex;
        gap: 110px;
    }
    .tech {
        width:37%
    }
    .nology {
        width: 50%;
       
    }
    .list {
        margin-top: 0;
    }
    .values {
        font-size: 24px;
        margin-top: 0;
    }
    /* end page-two */
    /* page-three */
    .page-three {
        padding:36px 0 48px;
        gap: 50px;
    }
    .never {
        gap: 30px;
    }
    .round {
        display: flex;
        justify-content: center;
        gap: 12px
    }
    /* end page-three */
    /* page-four */
    .page-four {
        height: 528px;
    }
    /* end page-four */
    /* page-five */
    .page-five {
        gap: 10px;
        padding: 60px 24px;
    }
    .fixed {
        flex-direction: column;
        gap: 20px;
    }
    .solo {
        width: 228px;
    }
}
@media screen and (min-width: 744px) and (max-width: 1023px){
    body {
        margin: 0;
    }
    /* page-one */
    .page-one {
        gap:40px;
    }
    .top-one{
        gap: 20px;
        padding: 0 30px;
        justify-content: space-between
    }
    .center {
        display:none;
    }
    .right-one {
        display:none;
    }
    .button-menu {
        display:block   
    }
    .mid-one {
        flex-direction: column;
    }
    .other {
        padding: 0;
        text-align: center;
    }
    .size-double {
        font-size: 40px;
    }
    .size-normal {
        font-size: 18px;
    }
    .other-mid {
        flex-direction: column;  
    }
    .pro {
        align-items: center
    }
    .recipe {
        width: 150px;
        height: 36px;
        font-size: 16px;
    }
    .image {
        width: 700px;
        height: 500px;
        padding: 10px 10px 0 10px;
    }
    .bot-one {
        flex-direction: column;
        padding: 0 22px;
        gap: 10px;
    }
    .other-bot {
        align-items: center;
    }
    .text-page-one {
        line-height: 24px;
        letter-spacing: 0.1px;

    }
    .page-one {
        gap: 0;
    }
    /* end page-one */
    /* page-two */
    .mental {
        flex-direction: column;
        gap: 0px;
        padding: 24px;
    }
    .img-heath {
        width: 666px;
        height: 530px;
    }
    .program {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .tech {
        text-align: center;
    }
    .values {
        font-size: 24px;
    }
    /* end page-two */
    /* page-three */
    .city {
        display: none;
    }
    .page-three {
        padding: 30px 24px;
        gap: 20px;
    }
    .comment {
        width: 50%;
    }
    .never {
        gap: 14px;
    }
    .round {
        display: flex;
        justify-content: center;
        gap: 14px;
    }
    /* end page-three */
    /* page-four */
    .page-four {
        background-size: cover;
    }
    /* end page-four */
    /* page-five */
    .page-five {
        gap: 50px;
        padding: 60px 24px;
    }
    .fixed {
        flex-direction: column;
        gap: 12px;
    }
    .column {
        gap: 40px;
    }
    .solo {
        width: 108px;
    }
    .email {
        gap: 20px;
    }
    /* end page-five */
}
@media screen and (min-width: 390px) and (max-width: 743px) {
    
    /* page-one */
    .page-one {
        gap:0px;
    }
    .top-one{
        gap: 20px;
        padding: 0 32px;
        justify-content: space-between
    }
    .size-check {
        font-size: 20px;
    }
    .center {
        display:none;
    }
    .right-one {
        display:none;
    }
    .button-menu {
        display:block   
    }
    .left-one {
        background-color: #ffffff;
        color: black;
    }
    .mid-one {
        flex-direction: column;
        gap: 16px;
    }
    .other {
        padding: 0;
        text-align: center;
    }
    .size-double {
        padding: 0 20px;
        font-size: 54px;
    }
    .other-mid {
        flex-direction: column;  
    }
    .size-normal {
        font-size: 22px;
    }
    .pro {
        flex-direction: column;
    }
    .size-small {
        font-size: 18px;
        font-weight: bold;
        padding: 0 20px;
    }
    .image {
        width: 370px;
        height: 316px;
    }
    .bot-one {
        flex-direction: column;
        padding: 26px 22px;
        gap: 20px;
    }
    .box-elipse {
        padding: 0 60px;
    }
    .hello {
        font-size: 18px;
        margin: 0;
    }
    .area-text {
        font-size: 18px;
    }
    /* end page-one */
    /* page-two */
    .mental {
        flex-direction: column;
        padding: 24px;
        gap:0;
    }
    .img-heath {
        width: 342px;
        height: 195px;
    }
    .values {
        text-align: center;
        font-size: 24px;
    }
    .will {
        line-height: 24px;
    }
    /* end page-two */
    /* page-three */
    .page-three {
        padding:36px 0 48px;
        gap: 50px;
    }
    .never {
        gap: 30px;
    }
    .round {
        display: flex;
        justify-content: center;
        gap: 12px
    }
    .village, .city {
        display: none;
    }
    .hi {
        margin: 0px 20px;
    }
    .comment {
        gap: 60px;
    }
    /* end page-three */
    /* page-four */
    .page-four {
        background-size: cover;
        height: 528px;
        gap: 26px;
    }
    .text-work {
        font-size: 28px;
    }
    /* end page-four */
    /* page-five */
    .page-five {
        gap: 50px;
        padding: 60px 24px;
        flex-direction: column;
    }
    .fixed {
        flex-direction: column;
        gap: 20px;
    }
    .cb {
        text-align: center;
    }
    .column {
        display: flex;
        justify-content: center;
        text-align: center;
        justify-content: space-between;
    }
    .space {
        padding-top: 0px;
    }
    .email {
        text-align: center;
    }
    .type-input {
        width: 274px;
    }
}

