
.display-normal {
    display:flex;
}
/* page-one */
.page-one {
    flex-direction: column;
    gap:130px
}
.top-one {
    justify-content: center;
    align-items: center;
    gap: 290px;
}
.center {
    gap: 15px;
}
.text {
    color: black;
    text-decoration: none;
}
.button-login {
    border-radius: 30px;
    background-color: black;
    color: #ffffff;
    width: 100px;
    height: 36px;
}
.mid-one {
    justify-content: space-evenly;
    align-items: center;
}
.other-mid {
    align-items: center;
    gap: 15px;
}
.size-double {
    font-size: 48px;
}
.size-normal {
    font-size: 30px;
}
.recipe {
    height: 35px;
    width: 140px;
    border-radius: 30px;
    background-color: #FFCF23;
    font-weight: bold;
}
.image {
    width: 531px;
    height: 428px;
    border-radius: 20px;
    padding: 10px
}
.elipse {
    height: 19px;
    width: 19px;
    border: #FFCF23 solid 1px;
    border-radius: 50%;
    background-color: #FFCF23;
}
